<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragments/header :: header}"></head>
<body class="sb-nav-fixed">
<nav th:insert="~{fragments/upperNavbar :: upperNavbar}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments/sideNavbar :: sideNavbar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-5">
                <h1 class="mt-4">Movimiento Visita</h1>
                <ol class="breadcrumb mb-4 mt-4">
                    <li class="breadcrumb-item"><a th:href="@{/inicio}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Actual</li>
                </ol>
                <div th:if="${mensajeError != null}" class="card mb-4">
                    <div class="card-body">
                        <div th:if="${mensajeError != null}" class='alert alert-danger' th:text="${mensajeError}"
                             role='alert'></div>
                    </div>
                </div>
                <form th:action="@{/movimientoVisita/aceptarEdit}" method="post" th:object="${movimientoVisita}">
                    <input type="hidden" th:field="*{id}">

                    <div class="mb-3">
                        <label for="tipoMovimiento" class="form-label">Tipo de movimiento</label>
                        <select id="tipoMovimiento" class="form-select mb-3" th:disabled="${isDisabled}" aria-label="Seleccionar tipo de movimiento" th:field="*{tipoMovimiento}">
                            <option th:each="tipoMovimiento : ${tiposMovimiento}" th:value="${tipoMovimiento}" th:text="${tipoMovimiento}">Option</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label for="observacion" class="form-label">Observación</label>
                        <input type="text" class="form-control" id="observacion" th:field="*{observacion}"
                               th:disabled="${isDisabled}" aria-describedby="observacionHelp">
                        <div id="observacionHelp" class="form-text">Ingrese una observación del movimiento.</div>
                    </div>

                    <div class="mb-3">
                        <label for="estadoMovimiento" class="form-label">Estado del movimiento</label>
                        <select class="form-select" id="estadoMovimiento" th:field="*{estadoMovimiento}">
                            <option value="" disabled selected>Seleccione un estado de Movimiento</option>
                            <option th:each="estadoMovimiento : ${estadosMovimiento}"
                                    th:value="${estadoMovimiento.name()}"
                                    th:text="${#strings.capitalize(estadoMovimiento.name().toLowerCase())}">
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="tipoMovilidad" class="form-label">Tipo de movilidad</label>
                        <select class="form-select" id="tipoMovilidad" th:field="*{tipoMovilidad}">
                            <option value="" disabled selected>Seleccione un tipo de movilidad</option>
                            <option th:each="tipoMovilidad : ${tiposMovilidad}"
                                    th:value="${tipoMovilidad.name()}"
                                    th:text="${#strings.capitalize(tipoMovilidad.name().toLowerCase())}">
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="descripcionMovilidad" class="form-label">Descripción de la movilidad</label>
                        <input type="text" class="form-control" id="descripcionMovilidad" th:field="*{descripcionMovilidad}"
                               th:disabled="${isDisabled}" aria-describedby="descripcionMovilidadHelp">
                        <div id="descripcionMovilidadHelp" class="form-text">Ingrese una descripción de la movilidad.</div>
                    </div>

                    <div class="mb-3">
                        <label for="visitante" class="form-label">Visitante</label>
                        <select id="visitante" class="form-select mb-3" th:disabled="${isDisabled}" aria-label="Seleccionar visitante" th:field="*{visitante.id}">
                            <option value="" th:text="'Seleccione opción...'" selected></option>
                            <option th:each="visitante : ${visitantes}"
                                    th:value="${visitante.id}"
                                    th:text="${visitante.numeroDeDocumento}">
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="Inmueble" class="form-label">Inmueble</label>
                        <select id="Inmueble" class="form-select mb-3" th:disabled="${isDisabled}" aria-label="Seleccionar inmueble" th:field="*{inmueble.id}">
                            <option value="" th:text="'Seleccione opción...'" selected></option>
                            <option th:each="inmueble : ${inmuebles}"
                                    th:value="${inmueble.id}"
                                    th:text="${inmueble.unidadDeNegocio.nombre + ' ' + inmueble.numeracion + ' ' + inmueble.piso + ' ' + inmueble.dpto}">
                            </option>
                        </select>
                    </div>


                    <button type="submit" th:disabled="${isDisabled}" class="btn btn-success">Aceptar</button>
                    <a th:href="@{list}" class="btn btn-danger" role="button">Cancelar</a>
                </form>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
