<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragments/header :: header}"></head>
<body class="sb-nav-fixed">
<nav th:insert="~{fragments/upperNavbar :: upperNavbar}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments/sideNavbar :: sideNavbar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-5">
                <h1 class="mt-4">Contactos Telefónicos</h1>
                <ol class="breadcrumb mb-4 mt-4">
                    <li class="breadcrumb-item"><a th:href="@{/inicio}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Actual</li>
                </ol>
                <div th:if="${mensajeError != null}" class="card mb-4">
                    <div class="card-body">
                        <div th:if="${mensajeError != null}" class='alert alert-danger' th:text="${mensajeError}"
                             role='alert'></div>
                    </div>
                </div>
                <form th:action="@{/contactoTelefonico/aceptarEdit}" method="post" th:object="${contactoTelefonico}">
                    <input type="hidden" name="id" th:value="${contactoTelefonico.id}">
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" th:field="*{telefono}"
                               th:disabled="${isDisabled}" aria-describedby="telefonoHelp">
                        <div id="telefonoHelp" class="form-text">Ingrese el teléfono.</div>
                    </div>
                    <div class="mb-3">
                        <label for="tipoContactoIn" class="form-label">Tipo de contacto</label>
                        <select id="tipoContactoIn" class="form-select mb-3" th:disabled="${isDisabled}" aria-label="Seleccionar tipo de contacto" th:field="*{tipoContacto}">
                            <option th:each="tipoContacto : ${tiposContacto}" th:value="${tipoContacto}" th:text="${tipoContacto}">Option</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="tipoTelefonoIn" class="form-label">Tipo de teléfono</label>
                        <select id="tipoTelefonoIn" class="form-select mb-3" th:disabled="${isDisabled}" aria-label="Seleccionar tipo de teléfono" th:field="*{tipoTelefono}">
                            <option th:each="tipoTelefono : ${tiposTelefono}" th:value="${tipoTelefono}" th:text="${tipoTelefono}">Option</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="observacion" class="form-label">Observación</label>
                        <input type="text" class="form-control" id="observacion" th:field="*{observacion}"
                               th:disabled="${isDisabled}" aria-describedby="observacionHelp">
                        <div id="observacionHelp" class="form-text">Ingrese observación.</div>
                    </div>
                    <button type="submit" th:disabled="${isDisabled}" class="btn btn-success">Aceptar</button>
                    <a th:href="@{list}" class="btn btn-danger" role="button">Cancelar</a>
                </form>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{js/scripts.js}"></script>
</body>
</html>