<!DOCTYPE html>
<html lang="es">
<head th:insert="~{fragments/header :: header}"></head>
<body class="sb-nav-fixed">
<nav th:insert="~{fragments/upperNavbar :: upperNavbar}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments/sideNavbar :: sideNavbar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-5">
                <h1 class="mt-4" th:text="${isEditMode ? 'Modificar Empleado' : 'Crear Empleado'}">Empleado</h1>
                <ol class="breadcrumb mb-4 mt-4">
                    <li class="breadcrumb-item"><a th:href="@{/inicio}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Actual</li>
                </ol>
                <div th:if="${mensajeError != null}" class="card mb-4">
                    <div class="card-body">
                        <div th:if="${mensajeError != null}" class='alert alert-danger' th:text="${mensajeError}"
                             role='alert'></div>
                    </div>
                </div>
                <form th:action="@{/empleado/aceptarEdit}" method="post" th:object="${empleado}">
                    <input type="hidden" name="id" th:value="${empleado.id}">
                    <div th:if="${isEditMode}">
                    <input type="hidden" name="idtel" th:value="${empleado.contactos[0].id}" />
                    <input type="hidden" name="idcorreo" th:value="${empleado.contactos[1].id}" />
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}"
                               th:disabled="${isDisabled}" aria-describedby="nombreHelp">
                        <div id="nombreHelp" class="form-text">Ingrese el nombre del empleado.</div>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" th:field="*{apellido}"
                               th:disabled="${isDisabled}" aria-describedby="apellidoHelp">
                        <div id="apellidoHelp" class="form-text">Ingrese el apellido del empleado.</div>
                    </div>
                    <div class="mb-3">
                        <label for="documento" class="form-label">DNI</label>
                        <input type="text" class="form-control" id="documento" th:field="*{documento}"
                               th:disabled="${isDisabled}" aria-describedby="documentoHelp">
                        <div id="documentoHelp" class="form-text">Ingrese el documento del empleado.</div>
                    </div>

                    <div class="mb-3">
                        <label for="numero" class="form-label">Numero</label>
                        <input type="text" class="form-control" id="numero" name="numero"
                               th:value="${numero}" th:disabled="${isDisabled}" aria-describedby="numeroHelp">
                        <div id="numeroHelp" class="form-text">Ingrese el numero laboral del empleado.</div>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="correo" name="correo"
                               th:value="${correo}" th:disabled="${isDisabled}" aria-describedby="correoHelp"¿>
                        <div id="correoHelp" class="form-text">Ingrese el correo laboral del empleado.</div>
                    </div>

                    <div class="mb-3">
                        <label for="unidadDeNegocio" class="form-label">Unidad de Negocio</label>
                        <select class="form-select" th:disabled="${isDisabled}" id="unidadDeNegocio" th:name="idUnidadDeNegocio">
                            <option value="" disabled selected>Seleccione una unidad</option>
                            <option th:each="unidad : ${unidades}"
                                    th:value="${unidad.id}"
                                    th:text="${unidad.nombre}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="tipoEmpleado" class="form-label">Tipo de Empleado</label>
                        <select class="form-select" th:disabled="${isDisabled}" id="tipoEmpleado" th:field="*{tipoEmpleado}">
                            <option value="" disabled selected>Seleccione un tipo de empleado</option>
                            <option th:each="tipo : ${tiposEmpleado}"
                                    th:value="${tipo.name()}"
                                    th:text="${#strings.capitalize(tipo.name().toLowerCase())}">
                            </option>
                        </select>
                    </div>
                    <button type="submit" th:disabled="${isDisabled}" class="btn btn-success">Aceptar</button>
                    <a th:href="@{list}" class="btn btn-danger" role="button">Cancelar</a>
                </form>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{js/scripts.js}"></script>
</body>
</html>