<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/header :: header}"></head>
<body class="sb-nav-fixed">
<nav th:insert="~{fragments/upperNavbar :: upperNavbar}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments/sideNavbar :: sideNavbar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard Habitante</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard Habitante</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Cargar Visitante</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link"  th:href="@{/visitante/alta}"></a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Programar Visita</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link"  th:href="@{/movimientoVisita/alta}"></a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div th:insert="~{fragments/tableMovimientoVisita :: tableMovimiento}"></div>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
