<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="salidaForm(origen, id, modalId)">
  <form th:action="@{/planillaHoraria/salida}" method="post">
    <input type="hidden" name="origen" th:value="${origen}">
    <input type="hidden" name="id" th:value="${id}">
    <div class="modal fade" th:attr="id=${modalId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="salidaModalLabel">Aviso Importante</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que deseas realizar esta acción?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</html>
