<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<div th:fragment="tableMovimiento">
    <a th:href="@{/movimientoVisita/alta}" type="button" class="btn btn-success mb-4"> Cargar visita </a>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Movimiento Visitas
        </div>
        <div class="card-body">
            <table id="datatablesSimple2" class="table-hover">
                <thead>
                <tr>
                    <th>Opciones</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>observación</th>
                    <th>Estado</th>
                    <th>Tipo de movilidad</th>
                    <th>Descripción de movilidad</th>
                    <th>Inmueble</th>
                    <th>Visitante</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Opciones</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>observación</th>
                    <th>Estado</th>
                    <th>Tipo de movilidad</th>
                    <th>Descripción de movilidad</th>
                    <th>Inmueble</th>
                    <th>Visitante</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="movimientoVisita : ${movimientoVisita}">
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle btn-sm"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                    class="bi bi-three-dots-vertical"></i></button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       th:href="@{/movimientoVisita/consultar?id=} + ${movimientoVisita.id}">Consultar</a>
                                </li>
                                <li sec:authorize="hasAnyRole('SUPERADMIN', 'ADMIN', 'PERSONAL')"><a class="dropdown-item"
                                                     th:href="@{/movimientoVisita/modificar?id=} + ${movimientoVisita.id}">Modificar</a>
                                </li>
                                <li sec:authorize="hasAnyRole('SUPERADMIN', 'ADMIN', 'PERSONAL')"><a class="dropdown-item"
                                       th:href="@{/movimientoVisita/baja?id=} + ${movimientoVisita.id}">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td th:text="${movimientoVisita.tipoMovimiento}"></td>
                    <td th:text="${#dates.format(movimientoVisita.fechaMovimiento, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td th:text="${movimientoVisita.observacion}"></td>
                    <td th:text="${movimientoVisita.estadoMovimiento}"></td>
                    <td th:text="${movimientoVisita.tipoMovilidad}"></td>
                    <td th:text="${movimientoVisita.descripcionMovilidad}"></td>
                    <td th:text="${movimientoVisita.visitante.numeroDeDocumento}"></td>
                    <td th:text="'Barrio: ' + ${movimientoVisita.Inmueble.unidadDeNegocio.nombre} + ' - Número: ' + ${movimientoVisita.inmueble.numeracion} + ' - Piso: ' + ${movimientoVisita.inmueble.piso} + ' - Departamento: ' + ${movimientoVisita.inmueble.dpto}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</html>